.container {
    background: white;
    margin: 50px;
    display: flex;
    flex-direction: row;
}
.options-menu {
    background: #00A8EF;
    width: 20%;
    height: auto;
}
.options-menu ul{
    margin: 0;
    padding: 0;
}
.options-menu li {
    text-align: center;
}
.options-menu li a {
    color: white;
    padding: 20px 0;
    display: inline-block;
    text-decoration: none;
    font-size: 1.1rem;
    width: 100%;
    transition: all .3s;
}
.options-menu li a:hover{
    background: white;
    color: black;
}
a.active{
    background:white;
    color: black !important;
}
.options-content {
    max-width: 80%;
    flex: 1;
    padding: 50px;
}
.form-row{
    margin: 20px 0;
}
.form-row label{
    display: inline-block;
    width: 200px;
}
.form-row input[type="text"],
.form-row input[type="text"],
.form-row textarea,
.form-row select
{
    width: 300px;
}
.posts-option-fieldset{
    border: 1px solid #ddd;
    padding: 10px;
}
.posts-option-fieldset legend{
    padding: 10px;
}